altgraph==0.17
appdirs==1.4.4
asgiref==3.3.1
click==7.1.2
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1.4
django-heroku==0.3.1
filelock==3.0.12
future==0.18.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mysql-connector==2.2.9
mysql-connector-python==8.0.23
mysqlclient==2.0.3
numpy==1.19.1
opencv-python==4.3.0.36
pefile==2019.4.18
protobuf==3.14.0
psycopg2==2.8.6
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.7
pytz==2020.4
pywin32-ctypes==0.2.0
six==1.15.0
sqlparse==0.4.1
virtualenv==20.0.31
Werkzeug==1.0.1
whitenoise==5.2.0
